/* Styling for google font icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* Color variables  */
:root {
  --main-bg-color: #f5f5f5;
  --secondary-color: #ffd700;
  --text-color: #333333;
  --button-color: #6b5b95;
  --hover-color: #c0b283;
}


html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 15vh;
}

header > h1 {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.material-symbols-outlined.header-logo {
  font-size: 42px;
}

/* Add book button section */

.add-book {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.add-book-button {
  display: flex;
  border-style: none;
  justify-content: center;
  align-items:center;
  background-color: transparent;
  color: #6b5b95;
  font-size: 32px;
}

.add-book-button:hover {
  color: var(--hover-color);
}

/* Table section */

table {
  grid-template-columns: repeat(5, 5fr);
  table-layout: fixed;
  background: white;
  border-collapse: collapse;
  width: 100%;
}

.scrollable {
  overflow-y: auto;
  height: 72.5vh;
  max-height: 72.5vh;
  border-collapse: collapse;
}

td, th, tr {
  border: 1px solid darkgray;
}

th {
  position: sticky;
  top: 0;
  height: 50px;
  background: var(--secondary-color);
  font-size: 24px;
}

td {
  height: 35px;
  justify-content: center;
  align-items: center;
}

tr {
  text-align: center;
  justify-content: center;
  align-self: center;
}

tr:nth-child(even) td{
  background:lightgray;
}

#remove-book-button {
  font-size: 16px;
}

/* Footer Section */
footer {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: var(--secondary-color);
}

footer > span {
  color: var(--text-color);
  font-size: 18px;
  font-style: italic;
}